In [78]:
import pandas as pd
import os


# Folder path where CSV files are located
folder_path = r'C:\Users\mohit\Desktop\DataStocks'

In [79]:


# Initialize an empty list to store DataFrames for each CSV file
dfs = []

# Get the list of CSV files in the folder
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# Loop through each CSV file and read it into a DataFrame
for file_name in csv_files:
    file_path = os.path.join(folder_path, file_name)
    df = pd.read_csv(file_path)
    
    # Remove the '.csv' extension from the file name
    file_name_without_extension = os.path.splitext(file_name)[0]
    
    # Add a 'File Name' column with the modified file name
    df['Stock_Symbol'] = file_name_without_extension
    
    # Append the DataFrame to the list
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_data = pd.concat(dfs, ignore_index=True)

# Print the first few rows of the combined data
combined_data

             Date   Close    High     Low    Open     Volume Stock_Symbol
0      2009-02-11  12.970  13.040  12.970  12.980          0      abengoa
1      2009-02-12  12.400  13.080  12.400  13.080          0      abengoa
2      2009-02-13  12.720  12.930  12.720  12.800          0      abengoa
3      2009-02-16  12.560  12.800  12.560  12.590          0      abengoa
4      2009-02-17  11.900  12.670  11.900  12.430          0      abengoa
...           ...     ...     ...     ...     ...        ...          ...
82514  2019-06-03   7.195   7.195   7.095   7.133   23370000    telefnica
82515  2019-06-04   7.317   7.365   7.169   7.182  132479999    telefnica
82516  2019-06-05   7.394   7.410   7.326   7.363  113990000    telefnica
82517  2019-06-06   7.398   7.457   7.383   7.407  102250000    telefnica
82518  2019-06-07   7.470   7.472   7.359   7.407          0    telefnica

[82519 rows x 7 columns]

In [80]:
combined_data.sample(10)

             Date   Close    High     Low    Open   Volume  Stock_Symbol
8333   2010-01-08  36.940  36.940  36.480  36.640        0           acs
25862  2013-07-15  18.535  18.895  18.415  18.730   227670           bme
32988  2012-05-22  13.155  13.310  12.870  12.915  1160000         enags
81735  2016-05-16   9.336   9.384   9.229   9.310  8520000     telefnica
36332  2015-04-15  11.206  11.298  11.118  11.162   711960           fcc
8910   2012-04-13  16.046  16.546  15.999  16.433   983480           acs
70823  2009-12-18  11.210  11.480  11.210  11.340        0     santander
34571  2018-07-31  23.920  23.920  23.690  23.700  1940000         enags
37150  2018-06-25  10.372  10.623  10.353  10.546    34600           fcc
59963  2014-04-16  57.860  58.370  57.570  57.950   384060  red-elctrica

In [81]:
df = combined_data

In [82]:
df['Date']=pd.to_datetime(df['Date'])

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82519 entries, 0 to 82518
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          82519 non-null  datetime64[ns]
 1   Close         82519 non-null  float64
 2   High          82519 non-null  float64
 3   Low           82519 non-null  float64
 4   Open          82519 non-null  float64
 5   Volume        82519 non-null  int64
 6   Stock_Symbol  82519 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 4.4+ MB

In [84]:
# Calculate the daily returns for each stock symbol
df['Daily_Return'] = df.groupby('Stock_Symbol')['Close'].pct_change()

In [85]:
df.isnull().sum()

Date             0
Close            0
High             0
Low              0
Open             0
Volume           0
Stock_Symbol     0
Daily_Return    27
dtype: int64

In [86]:
df=df.dropna()

In [87]:
df.isnull().sum()

Date            0
Close           0
High            0
Low             0
Open            0
Volume          0
Stock_Symbol    0
Daily_Return    0
dtype: int64

In [88]:
df.to_csv('combined_data.csv',index=False)

In [89]:
# Calculate the maximum daily return for each stock symbol
maximum_daily_return = df.groupby('Stock_Symbol')['Daily_Return'].max()
maximum_daily_return

Stock_Symbol
abengoa            0.659091
acciona            0.167183
acerinox           0.134487
acs                0.961455
atresmedia         0.229102
banco-sabadell     0.138640
bankinter          0.139259
bbva               0.295775
bme                0.100228
caixabank          0.159193
colonial          87.000000
enags              1.080679
fcc                0.281417
ferrovial          0.219780
grifols            0.119642
iberdrola          0.118908
inditex            0.115715
indra              0.191542
mapfre             0.141345
mediaset           0.229213
naturgy-energy     0.240893
red-elctrica       0.081343
repsol             0.116873
sacyr              0.213562
santander          0.580817
siemens-gamesa     0.220779
telefnica          0.141743
Name: Daily_Return, dtype: float64

In [90]:
# Calculate the minimum daily return for each stock symbol
minimum_daily_return = df.groupby('Stock_Symbol')['Daily_Return'].min()
minimum_daily_return

Stock_Symbol
abengoa          -0.797794
acciona          -0.130517
acerinox         -0.085816
acs              -0.493956
atresmedia       -0.132635
banco-sabadell   -0.226046
bankinter        -0.344598
bbva             -0.241711
bme              -0.093231
caixabank        -0.270661
colonial         -0.737500
enags            -0.523129
fcc              -0.256109
ferrovial        -0.100996
grifols          -0.505199
iberdrola        -0.107212
inditex          -0.797370
indra            -0.120930
mapfre           -0.137500
mediaset         -0.212914
naturgy-energy   -0.136240
red-elctrica     -0.749062
repsol           -0.157542
sacyr            -0.152422
santander        -0.366399
siemens-gamesa   -0.222962
telefnica        -0.161146
Name: Daily_Return, dtype: float64

In [91]:
# Calculate the standard deviation of daily returns for each stock symbol
std_deviation_daily_return = df.groupby('Stock_Symbol')['Daily_Return'].std()
std_deviation_daily_return

Stock_Symbol
abengoa           0.055189
acciona           0.022426
acerinox          0.019097
acs               0.027977
atresmedia        0.025930
banco-sabadell    0.022518
bankinter         0.022337
bbva              0.026429
bme               0.016260
caixabank         0.020709
colonial          1.848028
enags             0.027381
fcc               0.024286
ferrovial         0.019722
grifols           0.019682
iberdrola         0.015649
inditex           0.022714
indra             0.020033
mapfre            0.020398
mediaset          0.024494
naturgy-energy    0.017193
red-elctrica      0.020391
repsol            0.019716
sacyr             0.030969
santander         0.024415
siemens-gamesa    0.029507
telefnica         0.018684
Name: Daily_Return, dtype: float64